body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 95%;
    position: relative;
    background-color: #e5ffd2;
    color: #2c2c2c;
    font-size: 1.2rem;
}
input,
select {
    font-size: 1rem;
}
select {
    border-radius: 0;
}
button {
    font-size: 1rem;
    border-radius: 2px;
    background-color: #2c2c2c;
    border-color: #1b1b1b;
    color: white;
    padding: 7px;
}
button:hover,
button:focus,
button:active {
    background-color: #616161;
    border-color: #2c2c2c;
    color: #fff;
}
.logo-name {
    padding-top: 5px;
    padding-left: 5px;
    text-decoration: none;
    width: fit-content;
}
.logo-name:visited {
    color: #2c2c2c;
    text-decoration: none;
}
.lang-flag {
    height: 20px;
    float: right;
    position: relative;
    bottom: 40px;
}
.lang-flag:hover {
    cursor: pointer;
    height: 25px;
}
.map-container {
    display: block;
    height: 60vh;
    width: 95vw;
    border: 2px solid #2c2c2c;
    margin-bottom: 5px;
}
.input-wrap {
    width: fit-content;
    margin: 10px auto;
    background: #f7f7d5;
    padding: 20px;
    border: 1px solid #c0c0ab;
    border-radius: 5px;
}
.location-search-input {
    margin: 5px 0;
    width: 60%;
}
.autocomplete-dropdown-container {
    margin-bottom: 5px;
}
.add-loc-form {
    margin-left: 10px;
    padding: 5px;
}
.add-loc-form input {
    width: 60%;
    margin-bottom: 5px;
}
.add-loc-form select {
    width: 60%;
    margin-bottom: 5px;
}
.add-loc-btn {
    font-weight: bold;
}
.add-loc-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}
.report-btn {
    float: right;
    padding-top: 5px;
    margin-right: 10px;
}
.report-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}
.report-modal {
    display: block;
    padding: 5px;
}
.report-contact {
    width: 60%;
    margin-bottom: 5px;
}
.report-input {
    width: 90%;
    height: 10vh;
    margin-bottom: 5px;
}
.border-bot {
    padding-bottom: 5px;
    border-bottom: 2px solid #2c2c2c;
}
.italic {
    font-style: italic;
}
@media screen and (min-width: 940px) {
    .report-btn {
        margin-right: 10vw;
    }
}
