body {
}
.add-new-loc-autocomplete {
    position: absolute;
    top: 80vh;
}
.auto-complete {
    position: absolute;
    top: 70vh;
}
.map-container {
    height: 65vh;
    width: 100vw;
}
.submissions {
    position: absolute;
    top: 80vh;
}
.no-submissions {
    position: absolute;
    top: 80vh;
}
.modal {
    background-color: blueviolet;
}
.report-btn {
    position: absolute;
    bottom: 0;
    right: 2vw;
}
.reportText {
    width: 80vw;
    height: 30vh;
}
.report-input {
    width: 80vw;
    height: 10vh;
}
